#banner {
  text-align: center;
  padding: 30px;
  background: url(../../assets/img/movieIcon.jpg);
  background-size: cover;
  height: 350px;
}

#banner .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.50);
  max-width: 800px;
  margin: 0 auto;
}

#loginBtn {
  margin-right: 10px;
}

#topBar {
  background-color: white;
}

