@font-face {
	font-family: 'undeveloped_bookregular';
	src: url(../../assets/fonts/undeveloped.book-regular-webfont.woff2) format('woff2'),
	url(../../assets/fonts/undeveloped.book-regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}